.title {
  text-align: center;
  margin-bottom: var(--space-xlarge);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subtitle {
  margin-bottom: var(--space-medium);
}

.container_filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: var(--space-xlarge);
}

.filter_input {
  margin-bottom: var(--space-medium);
}

.container_filter :last-child {
  margin-bottom: 0px;
}

.container_option-views {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: var(--space-base);
}

.option-views_item {
  padding: var(--space-small) var(--space-base);
  background-color: var(--secondary-color);
  border: 1px solid #e0e0e0;
}

.option-views_item:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.option-views_item.active {
  background-color: var(--primary-color);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.container_list {
  background-color: var(--primary-color);
  padding: var(--space-base);
  min-width: 70%;
}

.list_title-day {
  margin-bottom: var(--space-small);
  color: gray;
}

.list_item {
  margin-bottom: var(--space-small);
}

.container_table {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  border: 1px solid var(--primary-color);
}

td {
  text-align: left;
  border: 1px solid var(--primary-color);
}

td.zone {
  background-color: #e0e0e0;
  padding: var(--space-small);
  text-align: center;
  max-width: 80px;
}

th {
  background-color: #e0e0e0;
  border: 1px solid var(--primary-color);
}

.talkColumn {
  border-bottom: 1px solid var(--primary-color);
  border-top: 1px solid var(--primary-color);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.talk-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_talkColumn {
  height: 350px;
  position: relative;
}

.height-100 {
  height: 100%;
}

.height-75 {
  height: 75%;
}

.height-50 {
  height: 50%;
}

.height-25 {
  height: 25%;
}

.position-25 {
  width: 100%;
  position: absolute;
  top: 25%;
}

.position-50 {
  width: 100%;
  position: absolute;
  top: 50%;
}

.position-75 {
  width: 100%;
  position: absolute;
  top: 75%;
}
