.wrapper {
  margin: auto;
  padding: 0px var(--space-large);
  background-color: var(--primary-color);
}

.content {
  background-color: white;
  box-shadow: 0px 0px 10px 0px var(--shadow-color);
  height: 100%;
  max-width: 1140px;
  margin: auto;
  padding: var(--space-large);
}
