.title {
  text-align: center;
}

.subtitle {
  margin-bottom: 20px;
}
.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-container {
  padding: 20px;
  background-color: white;
}

.single-event {
  display: flex;
  margin: 20px 0px;
  padding: 15px;
  border-top: 2px solid rgb(242 242 235) !important;
}

.info {
  margin-left: 20px;
}

.info_title {
  font-weight: bold;
  margin-bottom: 15px;
}

/* First we style the container element.  */
.calendar {
  margin: 0.25em 10px 10px 0;
  padding-top: 5px;
  float: left;
  width: 80px;
  background: #ededef;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ededef),
    to(#ccc)
  );
  background: -moz-linear-gradient(top, #ededef, #ccc);
  font: bold 30px/60px Arial Black, Arial, Helvetica, sans-serif;
  text-align: center;
  color: #000;
  text-shadow: #fff 0 1px 0;
  border-radius: 3px;
  position: relative;
  box-shadow: 0 2px 2px #888;
}

/* Em element is also styled, it contains the month’s name. */
.calendar em {
  display: block;
  font: normal bold 11px/30px Arial, Helvetica, sans-serif;
  color: black;

  background: rgb(242, 242, 235);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid rgb(242, 242, 235);
}

/* Now I am styling the pseudo elements. Container’s pseudo elements (:before and :after) are used to create thos circles, "holes in te paper". */
.calendar:before,
.calendar:after {
  content: "";
  float: left;
  position: absolute;
  top: 5px;
  width: 8px;
  height: 8px;
  background: #111;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0 1px 1px #fff;
}
.calendar:before {
  left: 11px;
}
.calendar:after {
  right: 11px;
}

/*…and em’s pseudo elements are used to create the rings: */
.calendar em:before,
.calendar em:after {
  content: "";
  float: left;
  position: absolute;
  top: -5px;
  width: 4px;
  height: 14px;
  background: #dadada;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f1f1f1),
    to(#aaa)
  );
  background: -moz-linear-gradient(top, #f1f1f1, #aaa);
  z-index: 2;
  border-radius: 2px;
}
.calendar em:before {
  left: 13px;
}
.calendar em:after {
  right: 13px;
}
